


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
  	background: #000;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.containers {
  width: auto;
  max-width: 100%;
  padding: 0 15px;
  text-align: center;
}
.containers .text-muted {
  margin: 0px 0;
}
.text-muted {
	font-family: serif;
	font-size: 20px;
	color: #fff;
}
