<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
         <script src="js/jquery.slabtext.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!-- <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css"> -->
      
      <link rel="stylesheet" href="bootstrap-678-sm/css/bootstrap.css"> 
        <link rel="stylesheet" href="transform.css">
        <link rel="stylesheet" href="fivecolumns.css">
        <link rel="stylesheet" href="bootstrap_col_5.css">
        <link rel="stylesheet" href="bottom.css">
        <link rel="stylesheet" href="top.css">
        <link href="css/slabtext.css" rel="stylesheet" type="text/css" />
      <!--<link rel="stylesheet" href="bootstrap/css/bootstrap.css"> -->
      <!--<link rel="stylesheet" href="bootstrap-xs/css/bootstrap.css"> -->
        
    </head><body>
    <div id="top">
        <div class="top-containers">
          <p class="text-muted-top">Нумезмания</p>
        </div>
      </div>
    <div class="section">
      <div class="container">&nbsp</div>
    </div>
    
<div class="section">
  <div class="container">
    <div class="row">
      <!-- bootstrap/css/bootstrap.css CUSTOMIZE -->
      <!-- <div class="flip-container" id="flip-toggle1" onclick="document.querySelector('#flip-toggle1').classList.toggle('hover');">
        <div class="col-lg-1  flipper">
          <img src="images/10rub6.png" class="img-responsive front hidden-xs ">
          <img src="images/10rub6.png" class="img-responsive back hidden-xs ">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block front-xs">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block back">
          
      
        </div>
      </div>
      <div class="flip-container" id="flip-toggle2" onclick="document.querySelector('#flip-toggle2').classList.toggle('hover');">
        <div class="col-lg-1  flipper">
          <img src="images/10rub6.png" class="img-responsive front hidden-xs ">
          <img src="images/10rub6.png" class="img-responsive back hidden-xs ">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block front-xs">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block back">
          
      
        </div>
      </div>
      <div class="flip-container" id="flip-toggle3" onclick="document.querySelector('#flip-toggle3').classList.toggle('hover');">
        <div class="col-lg-1  flipper">
          <img src="images/10rub6.png" class="img-responsive front hidden-xs ">
          <img src="images/10rub6.png" class="img-responsive back hidden-xs ">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block front-xs">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block back">
          
      
        </div>
      </div>
      <div class="flip-container" id="flip-toggle4" onclick="document.querySelector('#flip-toggle4').classList.toggle('hover');">
        <div class="col-lg-1  flipper">
          <img src="images/10rub6.png" class="img-responsive front hidden-xs ">
          <img src="images/10rub6.png" class="img-responsive back hidden-xs ">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block front-xs">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block back">
          
      
        </div>
      </div>
      <div class="flip-container" id="flip-toggle5" onclick="document.querySelector('#flip-toggle5').classList.toggle('hover');">
        <div class="col-lg-1  flipper">
          <img src="images/10rub6.png" class="img-responsive front hidden-xs ">
          <img src="images/10rub6.png" class="img-responsive back hidden-xs ">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block front-xs">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block back">
          
      
        </div>
      </div> -->

      <!-- bootstrap_col_5.css -->
      <!-- <div class="flip-container" id="flip-toggle1" onclick="document.querySelector('#flip-toggle1').classList.toggle('hover');">
        <div class="col15-md-3 col15-md-offset-0 col-sm-6  flipper">
          <img src="images/10rub6.png" class="img-responsive front hidden-xs ">
          <img src="images/10rub6.png" class="img-responsive back hidden-xs ">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block front-xs">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block back">
          
      
        </div>
      </div>
      <div class="flip-container" id="flip-toggle2" onclick="document.querySelector('#flip-toggle2').classList.toggle('hover');">
        <div class="col15-md-3 col15-md-offset-0 col-sm-6  flipper">
          <img src="images/10rub6.png" class="img-responsive front hidden-xs ">
          <img src="images/10rub6.png" class="img-responsive back hidden-xs ">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block front-xs">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block back">
          
      
        </div>
      </div>
      <div class="flip-container" id="flip-toggle3" onclick="document.querySelector('#flip-toggle3').classList.toggle('hover');">
        <div class="col15-md-3 col15-md-offset-0 col-sm-6  flipper">
          <img src="images/10rub6.png" class="img-responsive front hidden-xs ">
          <img src="images/10rub6.png" class="img-responsive back hidden-xs ">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block front-xs">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block back">
          
      
        </div>
      </div>
      <div class="flip-container" id="flip-toggle4" onclick="document.querySelector('#flip-toggle4').classList.toggle('hover');">
        <div class="col15-md-3 col15-md-offset-0 col-sm-6  flipper">
          <img src="images/10rub6.png" class="img-responsive front hidden-xs ">
          <img src="images/10rub6.png" class="img-responsive back hidden-xs ">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block front-xs">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block back">
          
      
        </div>
      </div>
      <div class="flip-container" id="flip-toggle5" onclick="document.querySelector('#flip-toggle5').classList.toggle('hover');">
        <div class="col15-md-3 col15-md-offset-0 col-sm-6  flipper">
          <img src="images/10rub6.png" class="img-responsive front hidden-xs ">
          <img src="images/10rub6.png" class="img-responsive back hidden-xs ">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block front-xs">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block back">
          
      
        </div>
      </div> -->
      <!-- fivecolumns.css -->
      <!-- <div class="flip-container" id="flip-toggle4" onclick="document.querySelector('#flip-toggle4').classList.toggle('hover');">
        <div class="col-lg-1-5  flipper">
          <img src="images/10rub6.png" class="img-responsive front hidden-xs ">
          <img src="images/10rub6.png" class="img-responsive back hidden-xs ">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block front-xs">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block back">
          
      
        </div>
      </div>
      <div class="flip-container" id="flip-toggle5" onclick="document.querySelector('#flip-toggle5').classList.toggle('hover');">
        <div class="col-lg-1-5  flipper">
          <img src="images/10rub6.png" class="img-responsive front hidden-xs ">
          <img src="images/10rub6.png" class="img-responsive back hidden-xs ">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block front-xs">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block back">
          
      
        </div>
      </div>
      <div class="flip-container" id="flip-toggle1" onclick="document.querySelector('#flip-toggle1').classList.toggle('hover');">
        <div class="col-lg-1-5  flipper">
          <img src="images/10rub6.png" class="img-responsive front hidden-xs ">
          <img src="images/10rub6.png" class="img-responsive back hidden-xs ">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block front-xs">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block back">
          
      
        </div>
      </div>
        <div class="flip-container" id="flip-toggle2" onclick="document.querySelector('#flip-toggle2').classList.toggle('hover'); document.querySelector('#img3').classList.toggle('delete');">
        <div class="col-lg-1-5  flipper">
          <img src="images/10rub6.png" class="img-responsive front hidden-xs ">
          <img src="images/10rub6.png" class="img-responsive back hidden-xs ">
          <img src="images/10rub.png" id="img3" class="img-responsive visible-xs center-block front-xs">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block back">
        </div>
      </div>
      <div class="flip-container" id="flip-toggle3" onclick="document.querySelector('#flip-toggle3').classList.toggle('hover');">
        <div class="col-lg-1-5  flipper">
          <img src="images/10rub6.png" class="img-responsive front hidden-xs ">
          <img src="images/10rub6.png" class="img-responsive back hidden-xs ">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block front-xs">
          <img src="images/10rub.png" class="img-responsive visible-xs center-block back">
      
        </div>
      </div>  -->
      <!-- <div>
        <div class="col-xs-12 visible-xs">
          <h3>Задача</h3>
          
      
        </div>
      </div> -->
      <!-- СТАНДАРТНАЯ СЕТКА -->
       <div class="flip-container" id="flip-toggle1" onclick="document.querySelector('#flip-toggle1').classList.toggle('hover');">
            <div class="col-xs-12 col-xs-4 flipper">
              <!-- <img src="images/10rub6.png" class="img-responsive front hidden-xs ">
              <img src="images/10rub6.png" class="img-responsive back hidden-xs "> -->
              <img src="images/10rub6.png" class="img-responsive center-block front-xs">
              <img src="images/10rub9.png" class="img-responsive center-block back">
            </div>
          </div>
            <div class="flip-container" id="flip-toggle2" onclick="document.querySelector('#flip-toggle2').classList.toggle('hover');">
            <div class="col-xs-12 col-xs-4 flipper">
              <!-- <img src="images/10rub6.png" class="img-responsive front hidden-xs ">
              <img src="images/10rub6.png" class="img-responsive back hidden-xs "> -->
              <img src="images/10rub6.png" id="img3" class="img-responsive center-block front-xs">
              <img src="images/10rub9.png" class="img-responsive center-block back">
            </div>
          </div>
          <div class="flip-container" id="flip-toggle3" onclick="document.querySelector('#flip-toggle3').classList.toggle('hover');">
            <div class="col-xs-12 col-xs-4 flipper">
              <!-- <img src="images/10rub6.png" class="img-responsive front hidden-xs ">
              <img src="images/10rub6.png" class="img-responsive back hidden-xs "> -->
              <img src="images/10rub6.png" class="img-responsive center-block front-xs">
              <img src="images/10rub9.png" class="img-responsive center-block back">
            </div>
          </div>
    
      <!-- <div>
        <div class="col-xs-12 visible-xs">
          <h3>Задача</h3>
          
      
        </div>
      </div> -->

    </div>
  </div>
</div>
    
    <div id="footer">
        <div class="containers">
          <p class="text-muted">Какая из представленных монет стоит 200 рублей.</p>
        </div>
      </div>

</body>
</html>
<script>
document.onreadystatechange = function () {
  var money;  
  
  var wh = widthHeight();
  toogleImg(getOrientation(wh));
  imgSize();

  // Прослушиваем событие изменения размера страницы
  window.addEventListener("resize", function() {
      // Здесь получаем размеры экрана (inner/outerWidth, inner/outerHeight)
      wh = widthHeight();
    imgSize();

    toogleImg(getOrientation(wh));
  }, false);

  function imgSize() {
    
    var orientation = getOrientation(wh);
    
    var arr = $('.col-xs-12') || $('.col-xs-4');
    

    if(orientation == "portrait")
    {
      
      var spaceBody = window.outerHeight - $("#footer").height() - $("#top").height() - 50;
      var sizeImg = spaceBody / arr.length ;

    }
    if(orientation == "landscape")
    {
      
      var spaceBody = window.outerWidth;
      var sizeImg = spaceBody / arr.length;
      
      

    }

      
    
    $.each(arr, function(i,val) {
      
      $(val).children().first().width(sizeImg);
      

    });
  }

  function widthHeight () {
    var width = window.outerWidth;
    var height = window.outerHeight;
    return wh = width/height;
  }

  function getOrientation(wh) {
    var orientation;
    if(wh<1)
      orientation = 'portrait';
    else orientation = 'landscape';
    return orientation;
  }

  //Меняет класс с -12 на 4
  function toogleImg (orientation) {

    if(!money)
      money = $('.col-xs-12');

      //console.log(orientation);
    if(orientation == 'portrait')
    {
      if($(money).hasClass('col-xs-4'))
      {
        $(money).removeClass('col-xs-4');
        $(money).addClass('col-xs-12');
      }
    }

    if(orientation == 'landscape')
    {

      if($(money).hasClass('col-xs-12'))
      {
        $(money).removeClass('col-xs-12');
        $(money).addClass('col-xs-4');
      }
    }
  }
}
</script>